.container {
    height: 100%;
}

.sidenav{
    width: 13rem;
    background: #564ef0;

}

.sidenav a {
    color: white;

}

.sidenav i {
    margin-right: 0.7rem;
    
}

.menu{
    margin: 1rem 0 0 1rem;
    color: white;
    background: #564ef0;
}

